footer
    margin-top: -1%
    #footerlogo
        height: 60px
        width: 60px
    h3
        font-family: "Museo"
    p
        color: white
    #footico
        i
            &:hover
                background-color: rgb(114,223,233)
    #foota
        margin-left: 5%
        a
            text-decoration: none
            color: white
            padding-right: 3%
            font-size: 25px
            &:hover
                color: rgb(255,144,131)