h1
    font-family: "Museo"
*
    font-family: "Jost"
p
    color: grey
.navbar-brand
    font-family: "Museo"
.headbtn
    z-index: 1
    font-size: 20px
    cursor: pointer
    position: relative
    height: 45px
    width: 45px
    border: 2px solid black
    border-radius: 50%
    background-color: rgba(0, 0, 0, 0)
    div
        content: ""
        background-color: #ff473380
        border-radius: 50%
        width: 100%
        z-index: -2
        position: absolute
        height: 100%
        top: 4px
        left: 3px
        transition: 0.2s
    &:hover
        div
            top: 0px
            left: 0px
        i
            color: white
.headbtn2
    z-index: 1
    cursor: pointer
    position: relative
    height: 45px
    width: 50%
    border: 2px solid black
    background-color: rgba(0, 0, 0, 0)
    div
        content: ""
        background-color: #41b6c180
        border-radius: 150px
        width: 100%
        z-index: -2
        position: absolute
        height: 100%
        top: 4px
        left: 3px
        transition: 0.2s
    &:hover
        color: white
        div
            top: 0px
            left: 0px
.headbtn3
    z-index: 1
    cursor: pointer
    position: relative
    height: 45px
    width: 25%
    border: 2px solid black
    background-color: rgba(0, 0, 0, 0)
    div
        content: ""
        background-color: #ff473380
        border-radius: 150px
        width: 100%
        z-index: -2
        position: absolute
        height: 100%
        top: 4px
        left: 3px
        transition: 0.2s
    &:hover
        color: white
        div
            top: 0px
            left: 0px
.navicon
    opacity: 0
    width: 8px
    height: 8px
    border-radius: 50%
    position: absolute
    background-color: rgb(255,144,131)
    bottom: 0
    right: 35%
.navanim
    position: relative
    &:hover
        .navicon
            animation: in 0.2s forwards
    &:hover
        color: rgb(255,144,131)!important
@keyframes in
    0%
        opacity: 1
        bottom: 5%
    100%
        opacity: 1
        bottom: -25%
.inside
    opacity: 0
    width: 8px
    height: 8px
    border-radius: 50%
    position: absolute
    background-color: rgb(255,144,131)
.galère
    position: relative
    &:hover
        .inside
            animation: mondieu 0.2s forwards
    &:hover
        color: rgb(255,144,131)!important
@keyframes mondieu
    0%
        opacity: 1
        left: 0%
    100%
        opacity: 1
        left: 5%

@media (min-width: 375px) and ( max-width: 425px )
    .divhead
        padding-top: 20%
        margin-right: 18%
        .row
            .col
                h1
                    font-size: 40px!important
                .headbtn3
                    width: 50%
                img
                    margin-left: 15%
                    margin-top: 5%
    nav
        width: 80%
@media (min-width: 768px) and (max-width: 1024px)
    .headbtn3
        width: 40%
    .divhead
        img
            margin-left: 8%
            margin-top: 2%
