.purpara
    width: 12%
    text-align: center
    border-radius: 5px
#sec2
    margin-left: 20%
    margin-right: 20%
    .row
        div
            border: 3px solid #EFEFEF
            padding: 2%
            position: relative
            i
                font-size: 50px
            &:hover
                background-color: #42424B
                color: white
                border: 3px solid #42424B
                i
                    color: white!important
                p
                    color: white
                .arrows
                    transition: 0.5s
                    transform: rotate(360deg)
.arrows
    position: absolute
    left: 90%
    top: 5%
    rotate: -45deg

@media (min-width: 375px) and (max-width: 425px)
    .purpara
        width: 50%
    .colsec2
        border: 3px solid #EFEFEF!important
        margin: 0.5%
@media (min-width: 768px) and (max-width: 1024px)
    .purpara
        width: 25%
    .colsec2
        border: 3px solid #EFEFEF!important
